@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-lato: "Lato", sans-serif;
  --base-font-size: clamp(16px, calc(1rem + ((1vw - 3.2px) * 0.25)), 20px);
  --h1-font-size: clamp(24px, calc(1.5rem + ((1vw - 3.2px) * 0.625)), 34px);
  --h2-font-size: clamp(22px, calc(1.375rem + ((1vw - 3.2px) * 0.5)), 30px);
  --h3-font-size: clamp(20px, calc(1.25rem + ((1vw - 3.2px) * 0.5)), 28px);
  --navbar-font-size: clamp(12px, calc(0.75rem + ((1vw - 3.2px) * 0.25)), 16px);
  
  --accent-color: #d7e9e9;
  --nav-bar-color: #e5e1d6;
  --white: #ffffff;
  --black: #000000;
  --text-line-height: 130%;
  --text-spacing: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-lato);
  font-weight: 300;
  line-height: var(--text-line-height);
  letter-spacing: var(--text-spacing);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--accent-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

p,
button {
  font-size: var(--base-font-size);
}

.addToCart {
  background-color: var(--nav-bar-color)
}
.addToCart:hover{
  background-color: var(--accent-color) ;
  cursor: pointer;
  scale: 105%;
}

nav {
  font-size: var(--navbar-font-size);
  background-color: var(--nav-bar-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ;
}

footer {
  background-color: var(--nav-bar-color);
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer-section {
  width: 100%;
}

footer ul {
  list-style-type: none;
}

.footer-pt1 {
  text-align: center;
}

.sub-btn {
  padding: 5px;
}

.sub-email {
  padding: 5px;
  margin: 10px;
}

.colOne,
.colTwo {
  margin: 0 60px 0 60px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.colTwo li {
  padding: 5px;
}

.brand-info {
  text-align: center;
  justify-content: space-around;
}

.brand-text1,
.brand-text2 {
  margin: 0 40px 0 40px;
  display: inline-block;
  vertical-align: middle;
}

.form {
  text-align: center;
}

.question {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.answer {
  text-align: center;
}

.about-text {
  background-color: white;
  color: black;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.faq-section {
  background-color: white;
  color: black;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.tos-section {
  background-color: white;
  color: black;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.sub-form {
  text-align: center;
}