@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --font-lato: "Lato", sans-serif;
  --base-font-size: clamp(
    14px,
    calc(0.875rem + ((1vw - 3.3px) * 0.3774)),
    20px
  );
  --h1-font-size: clamp(20px, calc(1.25rem + ((1vw - 3.3px) * 0.5031)), 28px);
  --h2-font-size: clamp(18px, calc(1.125rem + ((1vw - 3.3px) * 0.5031)), 26px);
  --h3-font-size: clamp(16px, calc(1rem + ((1vw - 3.3px) * 0.5031)), 24px);
  --navbar-font-size: clamp(
    10px,
    calc(0.625rem + ((1vw - 3.3px) * 1.3699)),
    16px
  );

  --accent-color: #d7e9e9;
  --hover-color: #eafaf8;
  --nav-bar-color: #e5e1d6;
  --box-color: #f1ece9;
  --white: #ffffff;
  --black: #000000;
  --text-line-height: 130%;
  --text-spacing: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-lato);
  font-weight: 300;
  line-height: var(--text-line-height);
  letter-spacing: var(--text-spacing);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--accent-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

p,
button {
  font-size: var(--base-font-size);
}

.addToCart {
  background-color: var(--nav-bar-color);
}
.addToCart:hover {
  background-color: var(--accent-color);
  cursor: pointer;
  scale: 105%;
}

.addToCartDisabled:hover {
  background-color: lightgray;
  cursor: not-allowed;
  scale: unset;
}

.brand:hover {
  outline: 4px solid var(--nav-bar-color);
  cursor: pointer;
  scale: 110%;
}

nav {
  font-size: var(--navbar-font-size);
  background-color: var(--nav-bar-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: clamp(50px, calc(3.125rem + ((1vw - 3.3px) * 2.5786)), 91px);
  position: fixed;
  top: 0%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navText {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

.navLink {
  text-decoration: none;
  color: #000000;
  margin: 0 20px 0 0;
  font-weight: 500;
}

.navLink:hover {
  border-bottom: 2px solid #ffffff;
}

.footer-link {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  margin: 0 20px 10px 0;
}

.footer-link:hover {
  text-decoration: underline 2px white;
}

.navbar-buttons {
  width: clamp(20px, calc(1.25rem + ((1vw - 3px) * 1.8519)), 50px);
  height: clamp(20px, calc(1.25rem + ((1vw - 3px) * 1.8519)), 50px);
  margin: 0 15px 0 0;
  cursor: pointer;
}

footer {
  background-color: var(--nav-bar-color);
  margin: 0;
  padding: 0;
  width: 100%;

  position: relative;
  bottom: 0%;
}

.footer-section {
  width: 100%;
}

footer ul {
  list-style-type: none;
}

.footer-pt1 {
  text-align: center;
}

.sub-btn {
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
}

.sub-btn:hover {
  cursor: pointer;
}

.sub-email {
  padding: 5px;
  margin: 10px;
}

.colOne,
.colTwo {
  margin: 0 60px 0 60px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.colTwo li {
  padding: 5px;
}

.brand-info {
  text-align: center;
  justify-content: space-around;
}

.brand-text1,
.brand-text2 {
  margin: 0 40px 0 40px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}

.signup,
.login {
  text-align: center;
}

.signup {
  margin: 150px 0 0 0;
}

.login {
  margin: 50px 0 0 0;
}

.question {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.answer {
  text-align: center;
}

.about-section {
  margin: 100px 0 0 0;
}

.about-text {
  background-color: white;
  color: black;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.faq-section {
  background-color: white;
  color: black;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.tos-section {
  background-color: white;
  color: black;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.sub-form {
  text-align: center;
}

.input-field {
  width: 35vw;
  height: 30px;
  padding: 5px;
}

.msg-field {
  width: 40%;
  height: 100px;
  float: initial;
  padding: 5px;
}

.contact-btn {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

@media (max-width: 768px) {
  .navLink {
    margin: 0 10px 0 0;
  }
}
